// Common
@import "../common";

/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.sc_card {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	background: white;
	margin: 2em auto;
	width: 100%;
	overflow: hidden;
	padding: 1em;


	h1, h2, h3, h4, h5, h6 {
		font-size: 1em;
		line-height: 1.2em;
		margin: 0;
		margin-bottom: 1em;
		font-weight: bold;
	}

	p {
		font-size: 1em;
		@media (max-width: 468px) {
			padding: 0em 1em 1em 1em;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:empty {
			display: none;
			margin-bottom: 0;
		}
	}

	img {
		margin-bottom: 1em;
		margin-top: -1em;
		@media (min-width: 469px) {
			float: right;
			margin-left: 1em;
		}
	}

	.sc-row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 15px;
		margin-top: 15px;
		@media (max-width: 640px) {
			grid-template-columns: 1fr;
			margin-top: 0;
		}
	}

	.sc-company {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-column-gap: 15px;
		@media (max-width: 640px) {
			grid-template-columns: 1fr;
		}
	}

	.sc-company-logo-wrapper {
		height: auto;
		margin-top: 15px;
		background: rgb(255, 255, 255);
		box-shadow: rgba(0, 0, 0, 0.16) 0 2px 2px, rgba(0, 0, 0, 0.08) 0 0 1px;
		border-radius: 4px;
		max-width: 100%;
		width: auto;
		overflow: hidden;
		margin-bottom: 10px;

		img {
			width: auto;
			height: auto;
			max-width: 100%;
			margin: 0;
		}

	}

	.sc-grey-box {
		background: #F2F2F2;
		border-radius: 4px;
		padding: 15px;

		@media (max-width: 640px) {
			margin-top: 15px;
		}

		.sc-box-label {
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 150%;
			text-transform: uppercase;
			color: #000000;
			margin-bottom: 10px;
		}
	}

	.sc-input-group {
		.sc-input-label {
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 150%;
			color: #000000;
		}
	}


  .wp-block-structured-content-person__colleague_url {
	font-size: .875rem;
	word-break: break-word;
  }

}
