// The icon that displays on the StructuredContent block inserter category.
.components-structuredcontent-logo-icon {
	position: relative;

	&.components-panel__icon {
		margin-left: 8px;
	}

	&--blue {
		fill: $structuredcontent;
	}
}

// Style our custom colored icons like the default icons.
.components-structuredcontent-svg {
	.components-panel &,
	.components-toolbar &,
	.editor-block-navigation__item & {
		color: $dark-gray-500;
	}
}

.editor-block-icon.has-colors {
	&::after {
		color: $dark-gray-500;
	}

	svg {
		margin-right: 0;
	}
}
