/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/


// Core Gutenberg modules
@import "styles/editor/core/colors";
@import "styles/editor/core/variables";
@import "styles/editor/core/breakpoints";
@import "styles/editor/core/mixins";

// StructuredContent branding color.
$structuredcontent: #F03009;

// This SCSS file loads per every instance of each block.

// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;